:root {
  --cal-border-clr: hsl(0, 0%, 87%);
}

.dark {
  --cal-border-clr: hsl(var(--muted));
}

.rbc-calendar {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.rbc-month-header {
  height: min(10%, 40px);

  div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    font-weight: 600;
    color: hsl(var(--secondary-foreground) / 0.8);
  }
}

.rbc-events-container {
  width: 100% !important;
}

.rbc-day-bg,
.rbc-show-more {
  background: transparent !important;
  color: hsl(var(--primary)) !important;
}

.rbc-off-range-bg {
  background-color: hsl(var(--secondary) / 0.4) !important;
}

.rbc-today {
  background: hsl(var(--muted) / 0.2) !important;
}

.rbc-header,
.rbc-day-bg,
.rbc-month-row,
.rbc-month-view {
  border-color: var(--cal-border-clr) !important;
}

.rbc-timeslot-group,
.rbc-time-content,
.rbc-day-slot .rbc-time-slot,
.rbc-time-content > * + * > *,
.rbc-header,
.rbc-time-header-content,
.rbc-time-header.rbc-overflowing,
.rbc-time-header {
  border-color: var(--cal-border-clr) !important;
}

.rbc-month-view,
.rbc-time-view,
.rbc-agenda-view {
  border-color: var(--cal-border-clr) !important;
  border-radius: var(--radius);
  overflow: hidden;
}

.rbc-agenda-view {
  border: 1px solid var(--cal-border-clr) !important;
  table {
    border: none !important;
  }
  .rbc-agenda-table tbody > tr + tr {
    border-color: var(--cal-border-clr) !important;
  }
}

.rbc-time-slot {
  border: none !important;
}

.rbc-overflowing {
  border: none !important;
}

.rbc-agenda-time-cell {
  border-left: 1px solid var(--cal-border-clr) !important;
}

.rbc-agenda-view table.rbc-agenda-table,
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-color: var(--cal-border-clr) !important;
}

.rbc-agenda-table tbody tr:last-child {
  border-bottom: 1px solid var(--cal-border-clr) !important;
}

.rbc-agenda-empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.rbc-current-time-indicator {
  background: red !important;
  height: 2px !important;
}

.rbc-event,
.rbc-background-event {
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  outline: none !important;
}

.rbc-event-label {
  display: none !important;
}
